{% extends "base.html" %}
{% load bootstrap3 %}



{% block title %}
    Proposal editing
{% endblock %}

{% block content %}

 Modelname: {{ modelname }}

<a href="add/"> ADD NEW </a>

<ul>
    {% for sm in object_list %}
    <li>{{ sm }} <p>
        <a href="{% url 'partner-form' sm.pk %}"> EDIT </a>
        <a href="{% url 'partner-up' sm.pk %}"> UP </a>
  <a href="{% url 'partner-down' sm.pk %}"> DOWN </a>
  <a href="{% url 'partner-versions-list' sm.pk %}"> Versions </a>
  </p>
    </li>
    {% endfor %}
</ul>

{% endblock %}