{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
    Proposal editing
{% endblock %}
{% block content %}

    <h1> Proposal editing made easy </h1>

    <ul>
        <li> Basic data </li>
        <ul>
            <li>
                <a href="{% url 'project-form' 1 %}"> Project data </a>
            </li>
            <li>
                <a href="{% url 'template-list' %}">
                Templates
                </a>
            </li>
            <li>
                <a href="{% url 'setting-list' %}"> Settings </a>
            </li>
        </ul>
        <li>Proposal elements </li>
	<ul>
        <li> <a href="{% url 'textblock-list' %}">Generic textblocks </a></li>
	  <li> <a href="{% url 'workpackage-list' %}"> Workpackages
	  </a> </li>
	  <li> <a href="{% url 'task-list' %}"> Tasks
	  </a> </li>

	  <li> <a href="{% url 'deliverable-list' %}"> Deliverables
	  </a>
          <ul>
              <li>
                  <a href="{% url 'producabletypes-list' %}"> Types of deliverables </a>
              </li>
              <li>
                  <a href="{% url 'disseminationtypes-list' %}"> Dissemination options for deliverables </a>
              </li>
          </ul>
      </li>

        <li> <a href="{% url 'milestone-list' %}"> Milestones </a> </li>
        <li> <a href="{% url 'partner-list' %}"> Partner
          descriptions </a>  </a> </li>
        <li> <a href="{% url 'partnertype-list' %}"> Partner types </a></li>

        <li> <a href="{% url 'bibliography-list' %}">Bibliographic information </a></li>
	</ul>
        <li> Budget allocation
            <ul>
                <li>
                    <a href="{% url 'deliverablepartnertaskpm-list' %}">
                    Partner contributions to deliverables (per task)
                    </a>
                </li>
                <li>
                    <a href="{% url 'milestonepartnertaskpm-list' %}">
                    Partner contributions to milestones (per task)
                    </a>
                </li>
                <li>
                    <a href="{% url 'taskpartnerpm-list' %}">
                    Partner contributions to tasks (in general, not tied to milestones or deliverables)
                    </a>
                </li>
            </ul>
        </li>
        <li> Produce files & output  </li>
        <ul>
            <li> Typical steps
                <ul>
                    <li> <a href="{% url 'instantiate_all' %}"> Instantiate all templates </a>
                        <br> Note: this usually takes a few seconds </li>
                    <li> <a href={%  url "create_latex" %}> Produce LaTeX files  from template </a>
                        <br> Note: this usually takes a few seconds</li>
                    <li> <a href="{%  url "runlatex" %}"> Produce all output files (PDF) </a> </li>
                    <li> <a href=""> All in one: Templates, LaTex files, PDF </a></li>
                </ul>
            </li>
            <li> Steps useful for debugging templates and LaTex
                <ul>
                    <li> Pick individual template to run (good for debugging) </li>
                    <li> Produce a single LaTeX file from a specific template </li>
                    <li> Pick a single output file to produce </li>
                </ul>
            </li>
        </ul>
        <li>Produced files
            <ul>
                {%  for pdf in pdfs %}
                    <li>
                    <a href="{{ producedmedia }}/{{  pdf }}"> {{ pdf }}</a>
                    </li>
                {%  endfor %}
                <li> <a href="media/produced/output.tgz"> Download all files </a></li>
            </ul>
        </li>
        <li> <a href="admin/"> Admin </a></li>
    </ul>

{% endblock %}