{% extends "base.html" %}
{% load bootstrap3 %}



{% block title %}
    Proposal editing
{% endblock %}

{% block content %}

<h1>  Add or edit {{ modelname }} </h1>

<a href="add/"> ADD NEW </a>
<p>

<ul>
    {% for sm in object_list %}
    <li>{{ sm }} <p>
        <a href="{% url 'disseminationtypes-form' sm.pk %}"> EDIT </a>
        <a href="{% url 'disseminationtypes-up' sm.pk %}"> UP </a>
  <a href="{% url 'disseminationtypes-down' sm.pk %}"> DOWN </a>
  <a href="{% url 'disseminationtypes-versions-list' sm.pk %}"> Versions </a>
  </p>
    </li>
    {% endfor %}
</ul>


{% endblock %}