{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
    Execute templates
{% endblock %}
{% block content %}

    <h1> Execute templates </h1>

    <h2> Textblocks </h2>
    <ul>
    {% for tb in tbresults %}
        <li>
        <a href="{% url 'textblock-form' tb.obj.pk %}"> {{  tb.obj.name  }} </a>: {{  tb.result }}
        </li>
    {% endfor %}
    </ul>

    <h2> Actual templates </h2>

    Links point to the edit form for the templates.
    <ul>
    {%  for r in results %}
        <li>
        <a href="{% url 'template-form' r.obj.pk%}"> {{ r.obj.name }} </a>: {{ r.result }}
        </li>
    {% endfor  %}
    </ul>

{% endblock %}