{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
    Produce PDFs
{% endblock %}
{% block content %}

    <h1> Produce PDFs </h1>

    {% for r in startfiles %}
        <h2> {{ r.obj.name }} </h2>
        {%  if r.warning %} <br> Warning: {{ r.warning }} {% endif %}

        <h3> Output </h3>

        <a href="/media/produced/{{ r.pdf }}"> PDF  </a>

        <h3> Pass 1</h3>
        <h3> Returncode </h3> {{ r.run1.result.returncode }}
        <br> Note: 0 means everything worked fine
        <h3> Stdout </h3>
        <pre> {{ r.run1.result.stdout }} </pre>
        <h3> Stderr </h3>
        <pre>{{ r.run1.result.stderr }}</pre>

        <h3> Pass 2</h3>
        <h3> Returncode </h3> {{ r.run2.result.returncode }}
        <br> Note: 0 means everything worked fine
        <h3> Stdout </h3>
        <pre>{{ r.run2.result.stdout }}</pre>
        <h3> Stderr </h3>
        <pre>{{ r.run2.result.stderr }}</pre>

        <h3> Pass 3</h3>
        <h3> Returncode </h3> {{ r.run3.result.returncode }}
        <br> Note: 0 means everything worked fine
        <h3> Stdout </h3>
        <pre>{{ r.run3.result.stdout }}</pre>
        <h3> Stderr </h3>
        <pre>{{ r.run3.result.stderr }}</pre>

    {% endfor %}
{% endblock %}