<div class="md-preview-container">
  <div [ngClass]="{'md-preview-input': !previewPopout, 'md-preview-input-popout': previewPopout}">
    <mat-form-field class="md-fullwidth md-minheight">
      <textarea matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" class="md-minheight" matInput [(ngModel)]="data" placeholder="{{placeholder}}"></textarea>
    </mat-form-field>
  </div>
  <div class="md-preview" *ngIf="!previewPopout">
    <div class="mat-form-field mat-form-field-should-float mat-form-field-can-float md-fullwidth">
      <div class="mat-input-wrapper mat-form-field-wrapper">
        <div class="mat-input-infix mat-form-field-infix md-fullwidth">
          <markdown [data]="data"></markdown>
          <span class="mat-form-field-label-wrapper mat-input-placeholder-wrapper mat-form-field-placeholder-wrapper">
            <label class="mat-form-field-label mat-input-placeholder mat-form-field-placeholder">Preview</label>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<button mat-icon-button (click)="onPopout()"><mat-icon>open_in_new</mat-icon></button>
